STORAGE_MODE=local
S3_BUCKET=your-bucket-name
AIRFLOW_CONN_AWS_S3_CONNECTION=aws://your-access-key-id:your-url-encoded-secret@/?region_name=us-east-1
AIRFLOW_CONN_SNOWFLAKE_DEFAULT='{"conn_type":"snowflake","login":"your-snowflake-username","password":"your-snowflake-password","schema":"RAW","extra":{"account":"your-snowflake-account","database":"SKYTRAX_REVIEWS_DB","warehouse":"COMPUTE_WH","role":"SYSADMIN"}}'
